.navbar {
  width: 100%;
  background: #000;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.nav-content {
  width: 95%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.nav-left {
  flex: 1;
}

.search {
  width: 250px;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
}

/* RIGHT SIDE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-right a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.menu-icon {
  font-size: 22px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

/* MOBILE ADJUSTMENT */
@media (max-width: 600px) {
  .search {
    width: 160px;
  }

  .nav-right {
    gap: 15px;
    font-size: 14px;
  }

  .menu-icon {
    font-size: 20px;
  }
}

.username {
  color: white;
  font-weight: bold;
}

.logout-btn {
  background: transparent;
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: white;
  color: black;
}
