.cart-page {
  padding: 40px;
}

.cart-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cart-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.cart-info {
  flex: 1;
}

.cart-info input {
  width: 60px;
  padding: 5px;
  margin-top: 10px;
}

.cart-info button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #d9453c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.total {
  margin-top: 20px;
  font-size: 24px;
}

.checkout-btn {
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
  width: 250px;
  background: #4b7bec;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.back-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s ease;
}

.back-btn:hover {
  color: #d9453c;
  transform: translateX(-3px);
}

.empty-cart {
  margin-top: 60px;
  text-align: center;
  background: white;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.empty-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.empty-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.empty-actions button {
  padding: 15px 30px;
  font-size: 18px;
  background: #4b7bec;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.empty-actions button:hover {
  background: #3a64c9;
}
